In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('..\Capstone-2-Data-wranglling\healthcare-dataset-stroke-data.csv',index_col='id')

In [3]:
df=df[df['gender']!='Other']
df[df['gender']=='Other']

Empty DataFrame
Columns: [gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

In [4]:
df['bmi']=df['bmi'].fillna(df['bmi'].mean())

In [5]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.60000,formerly smoked,1
51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.89456,never smoked,1
31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.50000,never smoked,1
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.40000,smokes,1
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.00000,never smoked,1

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [11]:
features=['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status']

In [14]:
X=df[features]
y=df.stroke

In [15]:
X=pd.get_dummies(X)

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [18]:
X_train

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
id,,,,,,,,,,,,,,,,,,,,
7233,15.00,0,0,74.83,17.4,0,1,1,0,0,0,0,0,1,1,0,1,0,0,0
56179,29.00,0,0,207.58,22.8,0,1,1,0,0,0,1,0,0,0,1,0,0,0,1
36388,44.00,1,0,91.28,26.5,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0
59405,68.00,1,0,150.74,40.3,1,0,0,1,0,0,1,0,0,0,1,1,0,0,0
46643,62.00,0,0,82.57,36.0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61667,61.00,0,0,144.14,29.8,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0
1307,61.00,1,0,170.05,60.2,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1
31481,1.16,0,0,97.28,17.8,1,0,1,0,0,0,0,0,1,0,1,1,0,0,0
31454,38.00,0,0,93.93,21.5,1,0,0,1,1,0,0,0,0,1,0,0,0,1,0
28933,46.00,0,0,100.15,50.3,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1

In [21]:
stdscaler=StandardScaler()
X_train=stdscaler.fit_transform(X_train)
X_test=stdscaler.fit_transform(X_test)

In [22]:
X_train

array([[-1.24098632, -0.31617913, -0.23556308, ..., -0.46466435,
        -0.76308642, -0.42678889],
       [-0.62269788, -0.31617913, -0.23556308, ..., -0.46466435,
        -0.76308642,  2.34307878],
       [ 0.03975403,  3.16276413, -0.23556308, ..., -0.46466435,
         1.31046756, -0.42678889],
       ...,
       [-1.85220862, -0.31617913, -0.23556308, ..., -0.46466435,
        -0.76308642, -0.42678889],
       [-0.22522673, -0.31617913, -0.23556308, ..., -0.46466435,
         1.31046756, -0.42678889],
       [ 0.12808095, -0.31617913, -0.23556308, ..., -0.46466435,
        -0.76308642,  2.34307878]])

In [26]:
LR=LogisticRegression()
LR.fit(X_train,y_train)
ypred=LR.predict(X_test)

In [29]:
print(accuracy_score(y_test,ypred))

0.9425962165688193